<div
  class="flex h-full shrink-0 flex-col items-center bg-gradient-to-b from-secondary to-primary text-lg text-white md:relative md:m-0 md:rounded-2xl md:border-r-0 md:transition-all
  absolute z-10 -m-4 rounded-l-none border-r-[1rem] border-r-light w-[276px]"
>
  <!-- logo -->
  <div class="mt-7 flex h-24 w-full items-center justify-center text-white">
    <img src="./images/logo.svg">
  </div>
  <!-- menu -->
  <div class="menu-area pl-5 w-full">
    @for (menu of menuList; track menu) {
      <button class="menu relative z-0 flex w-full items-center gap-2 rounded-l-full 
        py-2 pl-2 pr-6 transition before:transition after:transition font-bold"
        [ngClass]="{ 'bg-light': menu.path === urlPath, 'text-primary': menu.path === urlPath }"
        (click)="goToPath(menu.path)"
      >
        {{ menu.name }}
      </button>
      <div class="subMenu pl-[30px] py-[10px]" *ngIf="menu.path === urlPath">
        @for (sub of menu.subMenu; track sub) {
          <button
            class="text-lg"
          >
            {{ sub.name }}
          </button>
        }
      </div>
    }
  </div>
</div>
